.not-found img {
    margin-top: -30px;
    height: 100%;
}

.e-massage {
    display: none;
}

.t-massage {
    display: none;
}




/* ---------- for mobile- -------------- max-width: 768px------ */

@media screen and (max-width: 768px) {

    .not-found img {
        margin-top: 80px;
        margin-bottom: 80px;
        width: 90%;
    }

    .e-massage {
        display: block;
        margin-top: 30px;
        font-size: 60px;
        color: goldenrod;
    }

    .t-massage {
        display: none;
    }

}



/* ---------- for tablet- -------------- max-width: 991px------ */

@media screen and (min-width: 769px) and (max-width: 991px) {


    .not-found img {
        margin-top: 75px;
        margin-bottom: 80px;
        width: 95%;
        height: 100%;
    }

    .e-massage {
        display: none;
    }

    .t-massage {
        display: block;
        margin-top: 15px;
        font-size: 50px;
        color: goldenrod;
    }
}